* {
    font-family: cursive;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #999;
    border-radius: 5px;
}

h3 {
    font-size: 2vmax;
    background: white;
    color: #999;
    padding: 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    padding: 50px;
    gap: 10px;
}

.leftMenu {
    flex: 1;
}

.search {
    padding: 10px;
    width: 200px;
    border: 1px solid gray;
}

h1 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.cats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cat {
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    padding: 5px;
}

.content {
    flex: 4;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.product {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

img {
    width: 150px;
    height: 250px;
    object-fit: contain;
}

.name {
    font-size: 24px;
    font-weight: normal;
}

@media only screen and (max-width: 1440px) {
    .product {
        width: 30%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .name {
        font-size: 18px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1024px) {
    .product {
        width: 45%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .name {
        font-size: 16px;
        font-weight: bold;
    }

    .price {
        display: flex;
        justify-content: start;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search {
        width: 80vw;
    }

    h1 {
        text-align: center;
        font-size: 18px;
    }

    .cats {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .cat {
        font-size: 16px;
    }

    .price {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="range"] {
        width: 65%;
    }

    .priceValue {
        font-size: 16px;
    }

    .name {
        font-size: 3vmin;
    }

    .priceText {
        font-size: 4vmin;
    }

    .product {
        width: 45%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .products {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product {
        width: 90%;
    }

    .name {
        font-size: 4vmin;
    }
}
